FIGMA_TOKEN=figd_xxx
FIGMA_FILE_KEY=eJDPjIrF5PRUpMXtXsvSRX
THIGA_FIGMA_FILE_KEY=eJDPjIrF5PRUpMXtXsvSRX

STORYBOOK_GITHUB_TOKEN=github_pat_xxx
STORYBOOK_GITHUB_OWNER=tjovy
STORYBOOK_GITHUB_REPO=ds-documentation-thiga
